@page
@model Tech_Hub.Pages.checkoutModel
@{
}

<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Checkout</h3>
				<ul class="breadcrumb-tree">
					<li><a asp-page="/Index">Home</a></li>
					<li class="active">Checkout</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-7">
				<!-- Billing Details -->
				<div class="billing-details">
					<div class="section-title">
						<h3 class="title">Billing address</h3>
					</div>
					<div class="form-group">
						<input class="input" type="text" name="first-name" placeholder="First Name">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="last-name" placeholder="Last Name">
					</div>
					<div class="form-group">
						<input class="input" type="email" name="email" placeholder="Email">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="address" placeholder="Address">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="city" placeholder="City">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="country" placeholder="Country">
					</div>
					<div class="form-group">
						<input class="input" type="tel" name="tel" placeholder="Mobile Number">
					</div>
				</div>
				<!-- /Billing Details -->
				<!-- Shiping Details -->
				<div class="shiping-details">
					<div class="section-title">
						<h3 class="title">Shipping address</h3>
					</div>
					<div class="input-checkbox">
						<input type="checkbox" id="shiping-address">
						<label for="shiping-address">
							<span></span>
							Ship to a different address?
						</label>
						<div class="caption">
							<div class="form-group">
								<input class="input" type="text" name="first-name" placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="last-name" placeholder="Last Name">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" placeholder="City">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="country" placeholder="Country">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="zip-code" placeholder="ZIP Code">
							</div>
							<div class="form-group">
								<input class="input" type="tel" name="tel" placeholder="Telephone">
							</div>
						</div>
					</div>
				</div>
				<!-- /Shiping Details -->
				<!-- Order notes -->
				<div class="order-notes">
					<textarea class="input" placeholder="Order Notes"></textarea>
				</div>
				<!-- /Order notes -->
			</div>

			<!-- Order Details -->
			<div class="col-md-5 order-details">
				<div class="section-title text-center">
					<h3 class="title">Your Order</h3>
				</div>
				<div class="order-summary">
					<div class="order-col">
						<div><strong>PRODUCT</strong></div>
						<div><strong>TOTAL</strong></div>
					</div>
					<div class="order-products">
						<div class="order-col">
							<div>1x Product Name Goes Here</div>
							<div>$980.00</div>
						</div>
						<div class="order-col">
							<div>2x Product Name Goes Here</div>
							<div>$980.00</div>
						</div>
					</div>
					<div class="order-col">
						<div>Shipping</div>
						<div><strong>FREE</strong></div>
					</div>
					<div class="order-col">
						<div><strong>TOTAL</strong></div>
						<div><strong class="order-total">$2940.00</strong></div>
					</div>
				</div>
				<div class="payment-method">
					<div class="input-radio">
						<input type="radio" name="payment" id="payment-1">
						<label for="payment-1">
							<span></span>
							Credit/Debit Card
						</label>
						<div class="caption">
							<div class="padding">
								<div class="row">
									<div class="col-sm-6">
										<div class="card">
											<div class="card-header">
												<strong>Credit Card</strong>
												<small>enter your card details</small>
											</div>
											<div class="card-body">
												<div class="row">
													<div class="col-sm-12">
														<div class="form-group">



															<label for="name">Name</label>
															<input class="form-control" id="name" type="text" placeholder="Enter your name">
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-sm-12">
														<div class="form-group">
															<label for="ccnumber">Credit Card Number</label>


															<div class="input-group">
																<input class="form-control" type="text" placeholder="0000 0000 0000 0000" autocomplete="email">
																<div class="input-group-append">
																	<span class="input-group-text">
																		<i class="mdi mdi-credit-card"></i>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="form-group col-sm-4">
														<label for="ccmonth">Month</label>
														<select class="form-control" id="ccmonth">
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
															<option>5</option>
															<option>6</option>
															<option>7</option>
															<option>8</option>
															<option>9</option>
															<option>10</option>
															<option>11</option>
															<option>12</option>
														</select>
													</div>
													<div class="form-group col-sm-4">
														<label for="ccyear">Year</label>
														<select class="form-control" id="ccyear">
															<option>2014</option>
															<option>2015</option>
															<option>2016</option>
															<option>2017</option>
															<option>2018</option>
															<option>2019</option>
															<option>2020</option>
															<option>2021</option>
															<option>2022</option>
															<option>2023</option>
															<option>2024</option>
															<option>2025</option>
														</select>
													</div>
													<div class="col-sm-4">
														<div class="form-group">
															<label for="cvv">CVV/CVC</label>
															<input class="form-control" id="cvv" type="text" placeholder="123">
														</div>
													</div>
												</div>

											</div>
											<div class="card-footer">
												<button class="btn btn-sm btn-success float-right" type="submit">
													<i class="mdi mdi-gamepad-circle"></i> Continue
												</button>
												<button class="btn btn-sm btn-danger" type="reset">
													<i class="mdi mdi-lock-reset"></i> Reset
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="input-radio">
						<input type="radio" name="payment" id="payment-2">
						<label for="payment-2">
							<span></span>
							Cash On Delivery(COD)
						</label>
						<div class="caption">
							<p>Extra 7$ when you choose COD</p>
						</div>
					</div>
				</div>
				<a asp-page="/TrackOrder" class="primary-btn order-submit">Place order</a>
				<form method="post">
										<input type="hidden" name="OrderDateTime" value="" />
					<button type="submit" class="primary-btn order-submit">Place order</button>
				</form>
			</div>
			<!-- /Order Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- BREADCRUMB -->
